[Install]
WantedBy=default.target

[Container]
Image=docker.io/joplin/server:latest
ContainerName=joplin-server
Network=joplin.network
PublishPort=22300:22300
Environment=APP_BASE_URL=https://notes.danvergara.com
Environment=APP_PORT=22300
Environment=DB_CLIENT=pg
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_DATABASE=joplin
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_HOST=joplin-postgres
